[Unit]
Description=SnapKey daemon
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/env python3 __SNAPKEY_DAEMON__
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
